@import '../styles/_all-utility-sheets.scss';

.search-wrapper {
    width: 550px;
    align-self: center;
    display: flex;
    padding-top: $xxxl;
    @media (max-width: 600px) {
      max-width: 325px;
      padding-top: $xxxl;
    }
}

.search-box {
  border: 2px solid transparent;
  border-radius: 2px;
  font-size: $large;
  width: 100%;
  padding: 1rem;
  transition: width 0.3s;
  border-radius: 10px;
  border: 1px solid $grey-7;
}

.search-box:focus {
  width: 100%;
  outline: none;
  border: 2px solid hsla(140,61.3%,63.5%, .5);
}

.contract-icon {
  height: 100%;
  width: 4em;
  margin-left: -5em;
  margin-top: .15em;
  opacity: 0.2;
  background-color: transparent;
  border: 0;
  &:hover {
      outline: none;
      opacity: 0.4;
      cursor: pointer;
  }
}

.generator-results {
  margin-top: 0;
  p {
    margin-top: $xs;
    font-size: $font-xl;
    &:first-child {
      // margin-top: $large;
    }
    &.invalid {
      color: #cf142b;
    }
  }
  min-height: 70px;
}